<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/styles/stylesOperations.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <form action="" class="checkbox-container">
        <h1>Crear Repuesto</h1>
        <a href="./repuestos.html" class="close-icon">
            <i class="fas fa-times"></i>
        </a>    
        <input  class="inputss" type="number" id="idRol" placeholder="ID" required>
        <input class="inputss" type="text" id="nombreRol" placeholder="Nombre" required>
        <input class="inputss" type="number" id="nombreRol" placeholder="Existencias" required>
        <input class="inputss" type="number" id="nombreRol" placeholder="Precio" required>
        <label for="">Categoria:</label>
        <select name="" id="">
            <option value="">Llantas Y Neumaticos</option>
            <option value="">Retrovisores</option>
        </select>
        <label for="">Marca:</label>
        <select name="" id="">
            <option value="">Yamaha</option>
            <option value="">Susuki</option>
        </select>
    </div>
    <button type="button" class="btn">Crear</button>
    </div>
    </form>

</body>
</html>

