<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/stylesmodules.css">
</head>
<body>
    <form action="" class="checkbox-container">
        <h1>Crear Repuesto</h1>
        <input  class="inputss" type="number" id="idRol" placeholder="ID" required>
        <input class="inputss" type="text" id="nombreRol" placeholder="Nombre" required>
        <input class="inputss" type="text" id="nombreRol" placeholder="Existencias" required>
        <input class="inputss" type="text" id="nombreRol" placeholder="Precio" required>
        <input class="inputss" type="text" id="nombreRol" placeholder="ID_Categoria" required>
        <input class="inputss" type="text" id="nombreRol" placeholder="ID_Marca" required>
    </div>
    <button type="submit" class="btn">Crear</button>
    </div>
    </form>
    <!-- <script src="../js/rolesTabla.js"></script> -->
</body>
</html>