<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel= "stylesheet" href= "https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" >
    <link rel="stylesheet" href="/assets/styles/styleslogin.css">
    <title>Login</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>

  </head>
  <body>
    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">
          <form action="" id="formlogin" class="sign-in-form">
            <a href="/assets/views/landing.html" class="close-icon">
              <i class="las la-undo"></i>
            </a>
            <h2 class="title">Iniciar Sesion</h2>
            <div class="input-field">
              <span class="las la-user"></span>
              <input type="text"  name="docu" id="docu" placeholder="Documento" />
              <i class="las la-exclamation-circle failure-icon"></i>
              <i class="las la-check-circle success-icon"></i>
              <div class="error"></div>
            </div>
            <div class="input-field">
              <span class="las la-lock"></span>
              <input type="password"  name="contra" id="contra" placeholder="Contraseña" />
              <i class="las la-exclamation-circle failure-icon"></i>
              <i class="las la-check-circle success-icon"></i>
              <div class="error"></div>
            </div>
            <button type="submit" id="submit" class="btn">Iniciar Sesion</button>
            <p>¿Olvidaste tu contraseña?</p><a href="reestablecer.html">Click Aquí</a>
          </form>
          <form action="" id="frmregistro" class="sign-up-form" >
            <h2 class="title">Registrate</h2>
            <div class="input-field2">
              <span class="las la-user"></span>
              <input type="text" name="uname" id="uname" placeholder="Nombre Completo" required/>
              <i class="las la-exclamation-circle failure-icon"></i>
              <i class="las la-check-circle success-icon"></i>
              <div class="error"></div>
            </div>
            <div class="input-field2">
              <span class="las la-closed-captioning"></span>
              <input type="text" name="documento" id="documento" placeholder="Documento" required />
              <i class="las la-exclamation-circle failure-icon"></i>
              <i class="las la-check-circle success-icon"></i>
              <div class="error"></div>
            </div>
            <div class="input-field2">
              <span class="las la-phone"></span>
              <input type="number" name="telefono" id="telefono" placeholder="Telefono" required />
              <i class="las la-exclamation-circle failure-icon"></i>
              <i class="las la-check-circle success-icon"></i>
              <div class="error"></div>
            </div>
            <div class="input-field2">
              <span class="las la-envelope"></span>
              <input type="email" name="email" id="email" placeholder="Email" required/>
              <i class="las la-exclamation-circle failure-icon"></i>
              <i class="las la-check-circle success-icon"></i>
              <div class="error"></div>
            </div>
            <div class="input-field2">
              <span class="las la-home"></span>
              <input type="text" name="direccion" id="direccion" placeholder="Direccion" required/>
              <i class="las la-exclamation-circle failure-icon"></i>
              <i class="las la-check-circle success-icon"></i>
              <div class="error"></div>
            </div>
            <div class="input-field2">
              <span class="las la-lock"></span>
              <input type="password" name="password" id="password" placeholder="Contraseña" required/>
              <i class="las la-exclamation-circle failure-icon"></i>
              <i class="las la-check-circle success-icon"></i>
              <div class="error"></div>
            </div>
            <div class="input-field2">
              <span class="las la-lock"></span>
              <input type="password" name="confirma" id="confirma" placeholder="Confirmar contraseña" required/>
              <i class="las la-exclamation-circle failure-icon"></i>
              <i class="las la-check-circle success-icon"></i>
              <div class="error"></div>
            </div>
            <button type="button" id="btn-registro" class="btn">Registrarse</button>
          </form>
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3>No tienes una cuenta? </h3>
            <p>
              Registrate, para que puedas vivir la mejor experiencia con el taller LapardMotors
            </p>
            <button class="btn transparent" id="sign-up-btn">
              Registrarse
            </button>
          </div>
          <img src="" class="image" alt="" />
        </div>
        <div class="panel right-panel">
          <div class="content">
            <h3>Ya tienes una cuenta?</h3>
            <p>
              Inicia sesion rapidamente para que puedas disfrutar y vivir una gran experiencia 
            </p>
            <button class="btn transparent" id="sign-in-btn">
              Iniciar Sesion
            </button>
          </div>
          <img src="" class="image" alt="" />
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/assets/js/login.js"></script>
    <script src="/assets/js/validalogin.js"></script>
    <!-- <script src="/assets/js/validalogin.js"></script> -->
  </body>
</html>
