<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/stylesmodules.css">
</head>
<body>
    <form action="" class="checkbox-container">
        <h1>Crear Categoria de repuesto</h1>
        <input  class="inputss" type="number" id="idRol" placeholder="ID" required>
        <input class="inputss" type="text" id="nombreRol" placeholder="Nombre" required>
        <label>Selecciona los productos asociados a esta categoria</label> 
        <!-- Checkbox principal -->
  <div >
        <label>
            <input type="checkbox" class="privil" id="compras-checkbox" onclick="toggleOpciones()">
                Llantas
        </label>        
        <label>
            <input type="checkbox" id="compras-checkbox" onclick="toggleOpciones()">
                Neumaticos
        </label>    
        <label>
            <input type="checkbox" id="compras-checkbox" onclick="toggleOpciones()">
            Retrovisores
        </label> 
        <label>
            <input type="checkbox" id="compras-checkbox" onclick="toggleOpciones()">
                Carenajes
        </label> 
        <label>
            <input type="checkbox" id="compras-checkbox" onclick="toggleOpciones()">
                Luces
        </label>     
        <label>
            <input type="checkbox" id="compras-checkbox" onclick="toggleOpciones()">
                Cadenas
        </label>  
        <label>
            <input type="checkbox" id="compras-checkbox" onclick="toggleOpciones()">
                Tijeras
        </label>   
        <label>
            <input type="checkbox" id="compras-checkbox" onclick="toggleOpciones()">
                Maniguetas
        </label>  
        <label>
            <input type="checkbox" id="compras-checkbox" onclick="toggleOpciones()">
                Manubrios
        </label>    
    </div>     
    </div>
    <button type="submit" class="btn">Crear</button>
    </div>
    </form>
    <!-- <script src="../js/rolesTabla.js"></script> -->
</body>
</html>