</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/styles/stylesOperations.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <form action="" class="checkbox-container">
        <h1>Crear Compra</h1>
        <a href="./compras.html" class="close-icon">
            <i class="fas fa-times"></i>
        </a>
        <input  class="inputss" type="number" id="idRol" placeholder="ID" required>
        <input class="inputss" type="text" id="nombreRol" placeholder="Fecha" required>
        <input class="inputss" type="text" id="nombreRol" placeholder="ID_Proveedor" required>
        <label>Productos:</label> 
      <div >
            <label>
        <label>
            <input type="checkbox" id="compras-checkbox" onclick="toggleOpciones()">
            Carenajes
        </label>    
        <label>
            <input type="checkbox" id="compras-checkbox" onclick="toggleOpciones()">
            Luces
        </label> 
        <label>
            <input type="checkbox" id="compras-checkbox" onclick="toggleOpciones()">
            Retrovisores
        </label>   
        <label>
            <input type="checkbox" id="compras-checkbox" onclick="toggleOpciones()">
            Tornilleria
        </label>  
        
    </div>
    <input class="inputss" type="number" id="nombreRol" placeholder="Cantidad" required> 
        <input class="inputss" type="text" id="nombreRol" placeholder="Estado" required>
    <button type="submit" class="btn">Crear</button>
    </div>
    </form>
    <!-- <script src="../js/rolesTabla.js"></script> -->
</body>
</html>